.searchbar {
  font-family: Lato;
}

.search-field {
  background-color: #343A40;
  color: #C4C4C4;
  border: none;
  height: 70px;
  width: 55vw;
  padding-left: 15px;
  font-size: 36px;
  font-family: Lato;
}

.add-button {
  background-color: #67DBF9;
  color: #343A40;
  border: none;
  height: 70px;
  font-size: 36px;
  font-family: Lato;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

label {
  margin-bottom: 0 !important;
}

.dropdown {
  position: absolute;
  width: calc(55vw + 15px);
  z-index: 1;
}

.dropdown-item {
  height: 70px;
  border-top: #454d55 2px solid;
  background-color: #343A40;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
}

@media only screen and (max-width: 950px) {
  .search-field {
    height: 40px;
    font-size: 20px;
  }
  .add-button {
    height: 40px;
    font-size: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .search-field {
    width: 60vw;
  }
}