.player-stat-block {
  width: 394px;
  background-color: #343A40;
  color: white;
  border: white 1px solid;
  margin-bottom: 25px;
}

.player-stat-head {
  height: 36px;
  font-size: 24px;
  border: white 1px solid;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 0px;
}

.player-stat-row {
  display: flex;
  height: 67px;
}

.player-stat-row > div {
  border: white 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stat-name {
  font-size: 14px;
}

.stat-num {
  font-size: 20px;
}

.w-1\/3 {
  width: 33.33%;
}

.w-23 {
  width: 23.33%;
}

.w-3\/10 {
  width: 30%;
}

.w-27 {
  width: 27%;
}

.w-19 {
  width: 19%;
}

