.player-stats-block {
  width: 32%;
  overflow-y: scroll;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 950px) {
  .player-stats-block {
    width: 100%;
    height: 50vh;
  }
}